# Notebook pra gerar os dados das decision trees

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import zipfile
import os,glob
import numpy as np
from IPython.display import display
pd.options.display.max_columns = None
pd.options.display.max_rows = None
from collections import defaultdict
import collections
%matplotlib inline

features = ['n_nu_idade','n_tp_estado_civil','n_tp_escolaridade','n_tp_raca_cor_mae', 'morte_menor_28d', 'year_death']

In [2]:
%%time
Nordeste = pd.read_csv('/home/vm1/Data/FINAL/Nordeste.csv')
Norte = pd.read_csv('/home/vm1/Data/FINAL/Norte.csv')
Centro_Oeste = pd.read_csv('/home/vm1/Data/FINAL/Centro_Oeste.csv')
Sudeste = pd.read_csv('/home/vm1/Data/FINAL/Sudeste.csv')
Sul = pd.read_csv('/home/vm1/Data/FINAL/Sul.csv')
BR = pd.concat([Norte, Nordeste, Sul, Sudeste, Centro_Oeste])

CPU times: user 11.6 s, sys: 5.56 s, total: 17.1 s
Wall time: 17.1 s

In [3]:
data = BR
BR_death = data[data.morte_menor_28d == 1]
BR_alive = data[data.morte_menor_28d == 0]

In [4]:
BR.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 29737962 entries, 0 to 2414584
Data columns (total 6 columns):
n_nu_idade           float64
n_tp_estado_civil    float64
n_tp_escolaridade    float64
n_tp_raca_cor_mae    float64
morte_menor_28d      float64
year_birth           float64
dtypes: float64(6)
memory usage: 1.6 GB

In [5]:
def name_age(x):
    if x<3:
        return '10-19'
    elif x>6:
        return '35+'
    else:
        return '20-34'
    
def name_conje(x):
    if x==2:
        return 'Married'
    else:
        return 'Unmarried'

def name_estudo_anos(x):
    if x==1:
        return 'None'
    elif x==5:
        return '12+'
    else:
        return '1-11'

In [6]:
def label(data):
    data['n_nu_idade'] = data['n_nu_idade'].apply(name_age)
    data['n_tp_escolaridade'] = data['n_tp_escolaridade'].apply(name_estudo_anos)
    data['n_tp_estado_civil'] = data['n_tp_estado_civil'].apply(name_conje)

In [7]:
%%time
label(BR)

CPU times: user 17 s, sys: 4.7 s, total: 21.7 s
Wall time: 21.7 s

In [8]:
data = BR
BR_death = data[data.morte_menor_28d == 1]
BR_alive = data[data.morte_menor_28d == 0]

In [9]:
data = BR
escolaridade = data['n_tp_escolaridade'].value_counts()
idade = data['n_nu_idade'].value_counts()
estado_civil = data['n_tp_estado_civil'].value_counts()

In [10]:
data = BR_death
escolaridade_D = data['n_tp_escolaridade'].value_counts()
idade_D = data['n_nu_idade'].value_counts()
estado_civil_D = data['n_tp_estado_civil'].value_counts()

In [11]:
escolaridade_tx = (escolaridade_D/escolaridade)*1000
idade_tx = (idade_D/idade)*1000
estado_civil_tx = (estado_civil_D/estado_civil)*1000

print('NMR:  ', (len(BR_death)/len(BR_alive))*1000)

NMR:   5.550688824066513

In [12]:
data = BR
l = len(BR)
print(escolaridade/l)
print(idade/l)
print(estado_civil/l)

1-11    0.821619
12+     0.165583
None    0.012798
Name: n_tp_escolaridade, dtype: float64
20-34    0.779767
10-19    0.197175
35+      0.023057
Name: n_nu_idade, dtype: float64
Unmarried    0.533568
Married      0.466432
Name: n_tp_estado_civil, dtype: float64

In [13]:
escolaridade_tx

1-11    5.707629
12+     4.481424
None    6.915451
Name: n_tp_escolaridade, dtype: float64

In [14]:
idade_tx

20-34    5.139703
10-19    6.711071
35+      8.197809
Name: n_nu_idade, dtype: float64

In [15]:
estado_civil_tx

Unmarried    5.927125
Married      5.054380
Name: n_tp_estado_civil, dtype: float64

In [16]:
dict(idade_tx)

{'20-34': 5.139702551622567,
 '10-19': 6.711070597474758,
 '35+': 8.197809153369473}

In [17]:
age = [k for k in dict(idade_tx).keys()]
civil = [k for k in dict(estado_civil_tx).keys()]
study = [k for k in dict(escolaridade_tx).keys()]

In [18]:
civil

['Unmarried', 'Married']

In [19]:
data = BR[BR.n_tp_estado_civil == civil[0]]

In [20]:
BR_death = data[data.morte_menor_28d == 1]
BR_alive = data[data.morte_menor_28d == 0]

In [21]:
escolaridade = data['n_tp_escolaridade'].value_counts()
idade = data['n_nu_idade'].value_counts()
#estado_civil = data['n_tp_estado_civil'].value_counts()
    
data = BR_death
escolaridade_D = data['n_tp_escolaridade'].value_counts()
idade_D = data['n_nu_idade'].value_counts()
#estado_civil_D = data['n_tp_estado_civil'].value_counts()
    
escolaridade_tx = (escolaridade_D/escolaridade)*1000
idade_tx = (idade_D/idade)*1000
#estado_civil_tx = (estado_civil_D/estado_civil)*1000

In [22]:
print('Given civil == unmarried')
print(escolaridade_tx)
print(idade_tx)
#print(estado_civil_tx)

Given civil == unmarried
1-11    6.000678
12+     5.163066
None    6.635566
Name: n_tp_escolaridade, dtype: float64
20-34    5.498992
10-19    6.860900
35+      8.636620
Name: n_nu_idade, dtype: float64

In [23]:
l

29737962

In [24]:
data = BR
l = len(BR)
print(escolaridade*100/l)
print(idade*100/l)
print(estado_civil*100/l)

1-11    47.177345
12+      5.329588
None     0.849853
Name: n_tp_escolaridade, dtype: float64
20-34    37.798232
10-19    14.626830
35+       0.931725
Name: n_nu_idade, dtype: float64
Unmarried    53.356787
Married      46.643213
Name: n_tp_estado_civil, dtype: float64

In [25]:
'''for ft in age:
    data = BR[BR.n_nu_idade == ft]
    
    BR_death = data[data.morte_menor_28d == 1]
    BR_alive = data[data.morte_menor_28d == 0]
    
    escolaridade = data['n_tp_escolaridade'].value_counts()
    #idade = data['n_nu_idade'].value_counts()
    estado_civil = data['n_tp_estado_civil'].value_counts()
    
    data = BR_death
    escolaridade_D = data['n_tp_escolaridade'].value_counts()
    #idade_D = data['n_nu_idade'].value_counts()
    estado_civil_D = data['n_tp_estado_civil'].value_counts()
    
    escolaridade_tx = (escolaridade_D/escolaridade)*1000
    #idade_tx = (idade_D/idade)*1000
    estado_civil_tx = (estado_civil_D/estado_civil)*1000
    
    print('\n',ft,'\n')
    print(escolaridade_tx)
    #print(idade_tx)
    print(estado_civil_tx)

SyntaxError: EOF while scanning triple-quoted string literal (<ipython-input-25-c6c55ca52b6b>, line 23)